@using System.Data;
@{
    ViewBag.Title = "Chat";
}

@*for a chat system like UI*@

<div class="container col-sm-12" style="margin-top:40px;"></div>
<div class="col-sm-8">
    <div class="panel panel-danger">
        <ul class="nav nav-tabs">

            <li><a data-toggle="tab" href="#All" class="a-white" id="All_User" this_val="All">All</a></li>

        </ul>
        <div class="tab-content" style="height: 300px; overflow: auto">

            <div id="All" class="tab-pane fade in active ">
                <div class="container-fluid" id="discussion_All">

                </div>
            </div>
        </div>

        @*div to store receiver name*@
        <div class="hidden">
            <input type="text" class="form-control" id="message_to" readonly style="border:none;width:100%;background-color:#428bca;" value="All" name="message_to" />
            <input type="hidden" id="displayname" name="message_from" />
        </div>
        <div class="panel panel-footer">
            @*text and buttons for sending*@
            <input type="text" class="form-control" id="message" style="border:none;width:100%;background-color:#f5f5f5;" autofocus />
        </div>
    </div>

    @*a div for transferring images*@
    @*upto here*@


    <div class="col-sm-8">
        <input type="file" id="imagebrowse" name="file" />
    </div>
    <div class="col-sm-4" style="padding-right:0px;">
        <input type="button" value="Send" style="float:right;min-width:100px;" id="send_file" />
    </div>


</div>


@*upto here*@
<div class="col-sm-4">
    <div class="container-fluid">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Change name" id="change_username" />
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Active users</h4>
        </div>
        <div class="panel-body" id="active_users">
            <div class='form-group active_us'>
                <p class='form-control text-primary'>All</p>
            </div>
        </div>
    </div>

</div>

@*div to show the images*@
<div class="col-sm-4" style="float:right;" id="images">

</div>
@*upto here*@

@section scripts{
    <script src="~/scripts/jquery-1.6.4.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/site.js"></script>
}